version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: todo-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db


  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/todoapp
      PORT: 5000
    depends_on:
      - mongo
    restart: unless-stopped

  client:
    build: ./frontend
    container_name: todo-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:5000
    depends_on:
      - backend

volumes:
  mongo-data:
