version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: todo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./backend
    container_name: todo-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/todos
      - PORT=5000
    depends_on:
      - mongo

  client:
    build: ./frontend
    container_name: todo-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://server:5000
    depends_on:
      - server

volumes:
  mongo-data:
